<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Create</title>
    <link rel="stylesheet" href="/static/create.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      .cover-container{
        background-image: url('/static/avacado.jpg');
        background-attachment: fixed;
      }
    </style>
  </head>
  <body class="d-flex h-100 text-center text-bg-dark" style="height:100%; padding-bottom: 0px">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {%include 'nav.html'%}
    <br><br>
    <main class="px-3">
        <section id="create">
            <h1 style="font: size 100px;">Create a Dish</h1>
            
            <div class="create-wrapper">
            
            <!-- Left create page --> 
              
            <!-- Left create page --> 
              
            <form id="create-form" class="form-horizontal" role="form" action="/create/ingredients" method="POST">
                <h6>1. Ingredients and Directions</h6>
                <textarea name="ingredients" style="height:156px; width:330px;" class="form-control" rows="10" placeholder="Ingredients:                                              1. Eggs                                                   2. Love" name="ingredients" required style="padding:20px; width: 360px; padding-left:50px"></textarea>
                <br>
                <textarea name="directions" style="height:156px; width:330px;" class="form-control" rows="10" placeholder="Directions:                                              1. Boil water                                            2. Add salt" name="directions" required style="padding:20px; width: 360px; padding-left:50px"></textarea>
                <br><br>
                <input type="submit" value="Confirm Step 1" class="btn btn-lg btn-light fw-bold border-white bg-white"></input>
              </form>
              <form class="form-horizontal">
                <h6 style="font-size:200px">...</h6>          
              </form>
     </div>      
          </section>            
    </main>
        {%include 'footer.html'%}
    </div>
  </body>
</html>