<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Create</title>
    <link rel="stylesheet" href="/static/create.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .cover-container{
        background-image: url('/static/avacado.jpg');
        background-attachment: fixed;
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark" style="height:100%; padding-bottom: 0px">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {%include 'nav.html'%}
    <br><br>
    <main class="px-3">
        <section id="create">
  
            <h1 style="font: size 100px;">Create a Dish</h1>
            
            <div class="create-wrapper">
            
            <!-- Left create page --> 
              
            <!-- Left create page --> 
              
            <form class="form-horizontal">
              <h6 style="font-size:200px">...</h6>          
            </form>

              <form enctype="multipart/form-data" class="form-horizontal" action="/create/details" method="POST">
                <h6>2. Details</h6>
                <div class="form-group">
                  <div class="col-sm-12" style="padding-top: 6px; padding-bottom: 20px;">
                    <input type="text" class="form-control" id="name" placeholder="Dish Name" name="name" value="" required>
                  </div>
                </div>
          
                <div class="form-group">
                  <div class="col-sm-12" style="padding:20px">
                    <input type="text" class="form-control" id="country" placeholder="Country of origin" name="country" value="" required>
                  </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12" style="padding:20px">
                      <input type="text" class="form-control" id="name" placeholder="Time to make" name="time" value="" required>
                    </div>
                  </div>

                  <br>
                  <h4 style="font: size 50px;">Upload an image of your dish</h4>
                  <br>
                <input type="file" name="file">

                <br><br>
                <button class="btn btn-lg btn-light fw-bold border-white bg-white">Submit</button>
              </form>
              
            </div>
            
          </section>            
    </main>

        {%include 'footer.html'%}
    </div>
  </body>
</html>